{% extends "bootstrap/base.html" %}

{% block content %}
    <img id="displayed-image" src="" data-original-src="" style="display: none;"> <!-- Initially hidden -->

   <div id="imageControls" style="display:none;">
    <br>
        <button onclick="clearClicks()">Clear</button>
        <button onclick="navigate('previous')">Previous</button>
        <button onclick="navigate('next')">Next</button>
        <a href="{{ url_for('download_log') }}" class="btn btn-primary">Download Log</a>

        <p>Last clicked position: <span id="click-position">N/A</span></p>
</div>
<div id="uploadForm">
   <form onsubmit="event.preventDefault();">
            <label for="file">Choose a folder:</label>
        <input type="file" name="file[]" id="imageInput" multiple onchange="storeImagesLocally()" />

            <input type="submit" value="Upload">
        </form>
</div>


    <script>

let clicks = [];

let imageIndex = 0;
let images = [];

let filenames = []; // Add this at the top with other global variables

function storeImagesLocally() {
    const files = document.getElementById('imageInput').files;
    images = [];
    filenames = [];  // Reset the filenames array
    const reader = new FileReader();
    let readIndex = 0;

    function loadNextFile() {
        if (readIndex < files.length) {
            reader.readAsDataURL(files[readIndex]);
        } else {
            displayFirstImage();
        }
    }

    reader.onloadend = function(event) {
        images.push(event.target.result);
        filenames.push(files[readIndex].name);  // Store the filename
        readIndex++;
        loadNextFile();
    }

    loadNextFile();
}

function displayFirstImage() {
    imageIndex = 0;  // Reset to display the first image
    const img = document.getElementById('displayed-image');
    img.addEventListener('click', recordPosition);

    img.style.display = "block";  // Show the image
    img.src = images[0];
    img.setAttribute('data-original-src', images[0]);
    document.getElementById('imageControls').style.display = "block";
    document.getElementById('uploadForm').style.display = "none";
}



function navigate(direction) {
    boxes.forEach((box) => {
        const imagePath = document.getElementById('displayed-image').getAttribute('data-original-src');
        const imageName = filenames[imageIndex];
        const logData = `${imageName};TopLeft:0.${box[0].x}l,0.${box[0].y}t;BotRight:0.${box[1].x}l,0.${box[1].y}t`;

        fetch('/log_clicks', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ log: logData }),
        });
    });

    if (direction === 'previous' && imageIndex > 0) {
        imageIndex--;
    } else if (direction === 'next' && imageIndex < images.length - 1) {
        imageIndex++;
    }

    const img = document.getElementById('displayed-image');
    img.src = images[imageIndex];
    img.setAttribute('data-original-src', images[imageIndex]);

    boxes = [];  // Reset the boxes array
    document.getElementById('click-position').textContent = "N/A";
}


let boxes = [];  // This holds sets of two clicks, each representing a box.



function recordPosition(event) {
    const x = Math.floor((event.offsetX / event.target.width) * 100);
    const y = Math.floor((event.offsetY / event.target.height) * 100);

    // If the latest box doesn't have two clicks yet, add to it.
    // Otherwise, start a new box.
    if (boxes.length == 0 || boxes[boxes.length - 1].length == 2) {
        boxes.push([{ x: x, y: y }]);
    } else {
        boxes[boxes.length - 1].push({ x: x, y: y });
        drawRectangle(boxes[boxes.length - 1]);  // Draw the rectangle once two points are added.
    }

    document.getElementById('click-position').textContent = `${x}% from left, ${y}% from top`;
}

function drawRectangle(box) {
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    const img = document.getElementById('displayed-image');

    canvas.width = img.width;
    canvas.height = img.height;

    ctx.drawImage(img, 0, 0);
    ctx.strokeStyle = 'red';
    ctx.strokeRect(box[0].x / 100 * img.width, box[0].y / 100 * img.height,
                   (box[1].x - box[0].x) / 100 * img.width,
                   (box[1].y - box[0].y) / 100 * img.height);

    img.src = canvas.toDataURL();
}


function clearClicks() {
    boxes = [];
    const img = document.getElementById('displayed-image');
    img.src = img.getAttribute('data-original-src');
    document.getElementById('click-position').textContent = "N/A";
}




    </script>
{% endblock %}
